.App {
  text-align: center;
  font-family: monospace;
}

.text-custom {
  color: #ffc914;
}

.text-heading {
  color: #ffc914;
  font-weight: 200;
}

.text-black {
  color: #2e282a;
}

.bg-black {
  background-color: #2e282a;
}

.button {
  background-color: #ffc914;
  border-radius: 50px;
  padding: 2px 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
